<div class="container-fluid">
    <mat-card class="example-card">

        <mat-card-title>VoizFonica</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>

        <mat-card-content>
            <form (ngSubmit)="onSubmit()" class="example-form" [formGroup]="userlogin" autocomplete="off">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" required name="email" formControlName="email"
                        [(ngModel)]="customer.email">
                    <mat-error *ngIf="control.email.errors">
                        <div *ngIf="control.email.errors.required">email is required!</div>
                        <div *ngIf="control.email.errors.pattern">invalid email!</div>
                    </mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ?'password':'text'" matInput placeholder="Password" required name="password"
                        formControlName="password" [(ngModel)]="customer.password">
                    <mat-error *ngIf="control.password.errors">
                        <div *ngIf="control.password.errors.required">password is required!</div>
                        <div *ngIf="control.password.errors.minlength">minimum 8 characters required!</div>
                    </mat-error>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <button type="submit" mat-button color="primary">Login</button>
                <mat-label id="error_msg"><small>{{msg}}</small></mat-label>
            </form>
            <div class="switch">
                <a  id="a" href="forgotpassword">Forgot Password?</a>
                <a  id="a" href="register">New Registration!</a>
            </div>
        </mat-card-content>

    </mat-card>
</div>