.example-card {
    max-width: 320px;
    margin-top: 60px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  .center-content {
      text-align: -webkit-center;
      overflow: hidden; 
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }
  #error_msg{
    display: flex;
  justify-content: space-between;
  color: red;
  }
  .switch{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
  }
  #a:link {
    text-decoration: none;
  }
  