/* .card-body{
    margin: auto;
    width: 50%;
    margin-top: 10%;
  }
  table, th , td  {
  border-collapse: collapse;
  padding: 5px;
  }
  table{
  width: 100%;
  }
  th{
  color:red;
  }
  td{
  text-align: center;
  }
  .bold{
  font-weight: bold;
  }
  button{
  margin: 5px;
  float: right;
  background-color: rgb(145, 255, 0);
  } */