body{
    /* background-image: url("../../assets/image1.jpg"); */
    background-size: 100%;
    background-size: cover;
    }
    mat-form-field, mat-checkbox {
        width: 35%;
        display: block;
        margin: auto;
      }
      mat-card-content {
        margin-top: 20px;
      }
      
      .register-button {
        margin-top: 20px;
        display: block;
        width: 35%;
        margin: 20px auto;
      }
      h1{
          text-align: center;
         font-size: xx-large;
         font-style: oblique;
         color: slateblue;
         
      }
      .steps {
          text-align: center;
          color: rgb(0, 0, 0);
          
      }
      h2{
          border-left-width:30px;
    
      }
      .details p{
          font-weight: bold;
          font-size: large;
      }
      button{
        background-color:dodgerblue;
      }