<h1>DONGLE PLANS</h1>
           <u>
            <h2> Plan 499</h2>
            <li>The recharge plan comes with 3GB data per day for 28 days.</li>
            <li>Users also get unlimited voice calling and 100 SMS per day.</li>
            <li>Additional benefits include free hello tunes, Wynk music, and access to Airtel Xstream Premium.</li>
            <li>Users also get 2GB free data coupon.</li>
           </u>
        <u>
            <h2>Plan 699</h2>
            <li>The recharge plan comes with 2GB data per day for 56 days.</li>
            <li>Users also get unlimited voice calling and 100 SMS per day.</li>
            <li>Additional benefits include free hello tunes, Wynk music, and access to Airtel Xstream Premium.</li>
            <li>Users also get 4GB free data coupon.</li>
        </u>
        <u>
            <h2>Dongle Family Plans 999</h2>
            <li>The recharge plan comes with 2GB data per day for 365 days.</li>
            <li>Users also get unlimited voice calling and 100 SMS per day.</li>
            <li>Additional benefits include free hello tunes, Wynk music, and access to Airtel Xstream Premium.</li>
            <li> Users also get 1 year free online courses with Shaw Academy. </li>
        </u>
