<div class="container-fluid">
    <div class="col">
        <div class="card " style="width: 92%; margin-left: 50px;">
            <div class="card-header"><h5>About Us!</h5></div>

            <div class="card-body">
                <ul>
                    <p>VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access
                        and
                        telecommunication services that help people and companies communicate in an easy, efficient and
                        environmentally friendly way.</p>
                    <p>VoizFonica business is very technology dependent as company acts as a network service provider
                        (NSP)
                        in mobile.

                    </p>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="card " style="width: 18rem;">
                <div class="card-header"><h5>Our Offerings</h5></div>
                <div class="card-body">
                    
                    <div class="float-left ">
                        <ul>
                            <li class="m-2">
                                <a  routerLink="/prepaiduser">Prepaid</a>
                            </li>
                            <li class="m-2">
                                <a routerLink="/postpaiduser">Postpaid</a>
                            </li>
                            <li class="m-2">
                                <a routerLink="/donleuser">Dongle</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header"><h5>Customer support</h5></div>
                <div class="card-body">
                    <ul>
                        <li class="m-2">
                            <a routerLink="/support">Supports & Services</a>
                        </li>
                        <li class="m-2">
                            <a routerLink="/feedback">Feedbacks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header"><h5>Quick access</h5></div>
                <div class="card-body">
                    <ul>
                        <li class="m-2">
                            <a routerLink="/port">Port to VoizFonica</a>
                        </li>
                    </ul>
                </div>
            </div>
            
    
        </div>
    </div>
   
</div>