h1{
    text-align: center;
    color: rgb(129, 17, 233);
  }
  h2{
    text-align: center;
    color: rgb(106, 60, 149);
  }
  .row {
      /*display: -ms-flexbox; 
      display: flex;
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
      margin: 0 -16px;*/
      max-width: 600px;
      margin: auto;
     /* background: rgb(44, 199, 216);
      padding: 20px;*/
    }
    
   
    .content {
      -ms-flex: 50%; 
      flex: 50%;
      padding: 0 16px;
    }
    
    .col-75 {
      -ms-flex: 75%; 
      flex: 75%;
    }
    
   
    
    .container {
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }
    
    input[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    label {
      margin-bottom: 10px;
      display: block;
    }
    
   
    
    .btn {
      background-color: #04AA6D;
      color: rgb(157, 16, 16);
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }
    
    .btn:hover {
      background-color: #45a049;
    }
    
    span.price {
      float: right;
      color: grey;
    }
    
   