<mat-accordion class="example-accordion" multi>
  <div *ngFor="let plans of prepaid; first as isFirst">
    <div *ngIf="plans.category == showplans">
      <mat-expansion-panel class="example-accordion-item">
        <mat-expansion-panel-header class="example-accordion-item-header">
          <mat-panel-title class="bold">{{plans.plan}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="example-accordion-item-body">
          <table>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Cost</th>
                <th scope="col">Validity</th>
                <th scope="col">SMS</th>
                <th scope="col">Voice</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ plans.cost }} ₹</td>
                <td>{{ plans.validity}} days</td>
                <td>{{ plans.sms }}</td>
                <td>{{ plans.voice }}</td>
              </tr>
            </tbody>
          </table>
          <button class="button" mat-stroked-button color="accent" (click)="buyPlan(plans.id)">Buy</button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>
