.example-card {
  max-width: 356px;
  margin-top: 68px;
  margin-left: 15%;

}
.container-fluid {
  height: 510px;
  background-image: url(../../assets/866.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200vh;
    overflow: hidden;
}
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  
  .center{
    display: flex;
    justify-content: center;
  }
 