/*.img {
    background: url('pic3.jpg' )  no-repeat;
    height: 100vh;
    padding-left: 10px;
    
}*/

.middle{
    text-align: center;
}


.center {
    display: flex;
    justify-content: center;
    background-color: skyblue;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color:red
}
p {
    font-family: Lato;
    }
    .example-card {
    max-width: 1300px;
    margin: 4px

    }
    
    mat-card-subtitle{
    font-size:30px
    }
    
    mat-card-title{
    color:green;
    font-size:40px
    }

    .example-card
    {
        background: none;
    }
