<body class="img">
    <h1 class="center">Prepaid Plans</h1>
              <!--<a>
                <h2>Prepaid Plan 399</h2>
            
                <li>Unlimited calls (Local + STD + Roaming)</li>
                <li>40 GB monthly data with rollover up to 200 GB (beyond consumption of allocated data quota, value based charging will be applicable @ 2p/MB).</li>
                <li>100 SMS/day (Local + STD + Roaming) thereafter 10p/SMS</li>
                <li>Customer can add more family connections to their plan chargeable at @ Rs 299 for regular– Unlimited calls + 30GB data + 100SMS / days (thereafter 10p/SMS)</li>
             </a>
            <a>
                <h2>Prepaid Platinum Plan 499</h2>
                <li>Unlimited calls (Local + STD + Roaming)</li>
                <li>75GB monthly data with rollover up to 200 GB</li>
                <li>100 SMS/day (Local + STD + Roaming) thereafter 10p/SMS</li>
                <li>Customer can add more family connections to their plan chargeable at @ Rs 299 for regular– Unlimited calls + 30GB data + 100SMS / days (thereafter 10p/SMS)</li>
            </a>
            <a>
                <h2>Prepaid Family Plans 999</h2>
                <li>2 Free Add-on regular voice connections for family members</li>
                <li>Unlimited calls (Local + STD + Roaming)</li>
                <li>150 GB monthly data with rollover up to 200 GB </li>
                <li>100 SMS/day (Local + STD + Roaming) thereafter 10p/SMS</li>
            </a>-->
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Plan 399</mat-card-title>
                    <mat-card-subtitle>
                        
                    </mat-card-subtitle>
                </mat-card-header>
            
                <mat-card-content>
                    <p>
                        <li>Unlimited calls (Local + STD + Roaming)</li>
                        <li>40 GB monthly data with rollover up to 200 GB (beyond consumption of allocated data quota, value based charging will be applicable @ 2p/MB).</li>
                        <li>100 SMS/day (Local + STD + Roaming) thereafter 10p/SMS</li>
                        <li>Customer can add more family connections to their plan chargeable at @ Rs 299 for regular– Unlimited calls + 30GB data + 100SMS / days (thereafter 10p/SMS)</li>  
                    </p>
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-button style=
                        "background-color:blue; color:white">
                        MODIFY
                    </button>
            
                   
                </mat-card-actions>
                
            </mat-card>
    
    
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title> Platinum Plan 499</mat-card-title>
                    <mat-card-subtitle>
                        
                    </mat-card-subtitle>
                </mat-card-header>
            
                <mat-card-content>
                    <p>
                        <li>Unlimited calls (Local + STD + Roaming)</li>
                <li>75GB monthly data with rollover up to 200 GB</li>
                <li>100 SMS/day (Local + STD + Roaming) thereafter 10p/SMS</li>
                <li>Customer can add more family connections to their plan chargeable at @ Rs 299 for regular– Unlimited calls + 30GB data + 100SMS / days (thereafter 10p/SMS)</li>
                    </p>
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-button style=
                        "background-color:blue; color:white">
                        MODIFY
                    </button>
            
                   
                </mat-card-actions>
                
            </mat-card>
    
    
    
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title> Family Plans 999</mat-card-title>
                    <mat-card-subtitle>
                        
                    </mat-card-subtitle>
                </mat-card-header>
            
                <mat-card-content>
                    <p>
                        <li>2 Free Add-on regular voice connections for family members</li>
                        <li>Unlimited calls (Local + STD + Roaming)</li>
                        <li>150 GB monthly data with rollover up to 200 GB </li>
                        <li>100 SMS/day (Local + STD + Roaming) thereafter 10p/SMS</li>
                    </p>
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-button style=
                        "background-color:blue; color:white">
                        MODIFY
                    </button>
            
                   
                </mat-card-actions>
                
            </mat-card>
    
        </body>
