<h1>Your Profile</h1>
<div class="container">
    <form>
        <div class="row">
            <div class="col-25">
                <label for="fname">Name :</label>
            </div>
            <div class="col-75">
                <!--<input type="text" id="fname" name="firstname" >-->
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="email">Mail Id : </label>
            </div>
            <div class="col-75">
                <!--<input type="email" id="email" name="mailid" >-->
            </div>
        </div>

        
        <div class="row">
            <div class="col-25">
                <label for="phone no">Phone No : </label>
            </div>
            <div class="col-75">
               <!-- <input type="phoneno" id="phoneno" name="phoneno" >-->
            </div>
        </div>
       

        <div class="button">
            
            <div class="col-75">
            <input type="forgotpassword" value="Forgot Password">
            </div>
        </div>
    </form>
</div>



