<div class="container-fluid">
 <div class="row">
  <div class="card " style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Postpaid Plans</h5>
      <img src="../../assets/postpaid2.jpg" alt="postpaid_image">
      <a routerLink="postpaiduser" class="btn btn-primary float-right m-3 stretched-link">Explore</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Prepaid Plans</h5>
      <img src="../../assets/prepaid1.jpg" alt="prepaid_image">
      <a routerLink="prepaiduser" class="btn btn-primary float-right m-3 stretched-link">Explore</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Dongle Plans</h5>
      <img src="../../assets/dongle.jpg" alt="dongle_image">
      <a routerLink="dongleuser" class="btn btn-primary float-right m-3 stretched-link">Explore</a>
    </div>
  </div>
 </div>
</div>